.role-select {
    width: 400px;
    height: 300px;
    padding: 20px;
    border: 1.5px solid rgb(207, 207, 207);
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(254, 254, 254);
}

.role-select:hover {
    transform: scale(1.02);
}

.patient:hover {
  border-color: rgb(0, 87, 250);   
}

.physician:hover {
  border-color: rgb(0, 160, 60);   
}
.role-select h2 {
    text-align: left;
    margin-left: 5px;
    color: rgb(15, 14, 14);
    font-size: 16px;
    font-weight: 400;
}

.role-select p {
    text-align: left;
    margin-left: 5px;
    color: rgb(73, 72, 72);
    font-size: 16px;
    line-height: 1.5;
}

.role-list {
    list-style: none;
    text-align: left;       
    font-size: 16px;
    text-emphasis-color: rgb(41, 41, 41);
    padding-left: 3px;
}

.role-list li {
    display: flex;
    align-items: center;
    color: rgb(73, 72, 72);
    gap: 5px;
    line-height: 0.8;
    font-size: 14px;
}

.role-list li::before {
    content: "•";
    font-size: 35px;          
    display: inline-flex;     
    align-items: center;      
    transform: translateY(-3px);         
}

 .patient .role-list li::before {
    color: rgb(0, 87, 250);
 }

 .physician .role-list li::before {
    color: rgb(0, 160, 60);
 }


.role-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    height: 55px;
    width: 55px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
   
}

.patient .role-icon {
    color: rgb(0, 87, 235);
    background-color: rgb(215, 230, 255);
}

.physician .role-icon {
    color: rgb(0, 160, 60);
    background-color: rgb(223, 255, 230);
}

.role-select:hover .role-icon {
    color: white;
}

.patient:hover .role-icon {
    background-color: rgb(0, 87, 250);
}

.physician:hover .role-icon {
    background-color: rgb(0, 160, 60);;
}

